<!-- web_app/templates/button_template.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Transformation service</title>
</head>
<body>
    <h1>Transformation service</h1>
    <p>Click the button to execute the script:</p>
    <form action="{% url 'web_transform' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Transformation service</button>
    </form>
    {% if result %}
        <p>Transformation Result: {{ result }}</p>
    {% endif %}
</body>
</html>